@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}
body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header h {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a  {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

    header a:hover, footer a:hover {

        text-decoration: underline;
    }


footer {
    background-color: black;
    color: white;
    text-decoration: none;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color:black;   
    
    
      
}

section.imagem{
    background-color: transparent;
    color: white;

    
}

section.imagem p {
    width: 400px;
   background-color: rgba(0, 0, 0, 0.218);
    
    
}



main{
    background-image: url('imagens/background001.jpg');
    width: 100%;
  
    background-position: center center;
}