@charset "UTF-8";
/* aparelho deitado - lanscape*/

body {
    background: url(../imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    
   
   
}